<!doctype html> 
<html>
	<head>
		<title>augnular 权威指南 测试版本1.2.26</title>
	</head>
	<body>
		<div ng-app ='myApp'>
				<h1> 插值字符串</h1>
				<div ng-controller='MyController'>
					<input type="text" ng-model="to" type='email' placeholder='邮箱'>
					<textarea ng-model='emailBody'>
						
					</textarea>
					<h3> {{previewText}}</h3>
				</div>
				
		</div>
	</body>
	<!-- js文件应该独立出来 -->
	<script src='/angular.js'></script>
	<script>
	//插值字符串
	var app = angular.module('myApp',[]);
	app.controller('MyController',
		function($scope, $interpolate){
			$scope.to = '297190869@qq.com';
			$scope.emailBody = 'hello {{to}}, \n\n I\'m theone ';
			$scope.$watch('emailBody', function(body){
				if(body){
					var temple = $interpolate(body);
					$scope.previewText = temple({to:$scope.to})
;				}
			});
	});

// 	angular.module('myApp', [])
//   .controller('MyController', 
//     function($scope, $interpolate) {
//       $scope.to = 'ari@fullstack.io';
//       $scope.emailBody = 'Hello {{ to }},\n\nMy name is Ari too!';
//       // Set up a watch
//       $scope.$watch('emailBody', function(body) {
//         if (body) {
//           var template = $interpolate(body);
//           $scope.previewText = 
//             template({to: $scope.to});
//         }
//       });
// });
	</script>
</html>