<!doctype html> 
<html ng-app='myApp'>
    <head>
        <title>指令- 其他内置指令3</title>
        <meta name='description' content='augnular 权威指南 测试版本1.2.26'>
        <link rel="stylesheet" href="/docs/components/bootstrap-3.1.1/css/bootstrap.css">
        <style>
        .table .first {
            background-color: #c0c0c0;
        }
        .table .odd {
            background-color: #f5f5f5;
        }
        .table .last {
            background-color: #0d0d0d;
            color:white;
        }
        </style>

        <!-- js文件应该独立出来 并放在document 后面 -->
        <script src='/angular.js'></script>
        <script>
        var app = angular.module('myApp',[]);
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>ng-switch And ng-if</h1>
            </div>
            <div class='row'>

                <div class="panel panel-default">
                    <div class="panel-heading">ng-switch演示案例</div>
                    <div class="panel-body">
                        <p>声明ng-switch 同时指定 on元素选定表达式
                            <strong>输入Ari</strong>
                        </p>
                        <div>
                            <input type="text" ng-model='person.name'>
                            <div ng-switch on="person.name">
                                <p ng-switch-default>{{person.name}}</p>
                                <h1 ng-switch-when='Ari'> HELLO I am {{person.name}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">ng-repeat</div>
                    <div class="panel-body">
                        <p>
                            遍历集合,对象,生成模板
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>序列</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>age</th>
                            </tr>
                        </thead>
                        <tbody ng-controller='PeopleController'>
                            <tr ng-repeat="person in people" ng-class="{first:$first,odd:!$first && !$last && $odd,last:$last}">
                                <td>{{$index}}</td>
                                <td>{{person.firstName}}</td>
                                <td>{{person.lastName}}</td>
                                <td>{{person.age}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">ng-if &amp;&amp; ng-init  &amp;&amp; ng-bind</div>
                    <div class="panel-body">
                        <h3>ng-if:生成 或者 移除一个元素</h3>
                        <div ng-if="2+2===5"> 
                         Won't see this DOM node, not even in the source code 
                        </div> 
                        <div ng-if="2+2===4"> 
                         Hi, I do exist 
                        </div>
                        <h3>ng-init:需要健壮结构的场景，可以再ng-init中用数据模型对象来设置状态</h3>
                        <div ng-init="greeting='hello';person='world'" >
                            {{greeting}} {{person}}
                        </div>

                        <h3>ng-bind 等同于视图中的 {{ }} </h3>
                        <div ng-init="setValue='welcome'">
                            <p ng-bind='setValue'></p>
                            <span>
                                注意: HTML加载{{ }} 不会立刻渲染，导致未渲染内容闪烁(Flash of Unrenderd Content - FOUC)
                            </span>
                        </div>
                        <h3>ng-clock 避免闪烁</h3>
                        <div ng-init="setV ='wel me' ">
                            <p ng-cloak>{{setV}}</p>
                            <span>
                                内部元素隐藏，知道路由调用对应的页面才显示出来
                            </span>
                        </div>

                        <h3> ng-bind-template 类似 ng-bind 绑定多个表达式</h3>
                        <div ng-init="xxx='hello';yyy=' kitty!'">
                            <p ng-bind-template="{{xxx}}{{yyy}}"></p>
                            
                        </div>


                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">ng-change</div>
                    <div class="panel-body">
                        <h3>表单发生变化时，计算给指定的表达式.需要ng-model的支持</h3>
                        <div ng-controller="EquationController">
                            <input type="text" ng-change='change()' ng-model="equation.x" />
                            <code ng-bind='equation.output'></code>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">ng-options</div>
                    <div class="panel-body">
                        <div ng-controller='SelectController'>
                            <select ng-model='city' ng-options="city.name for city in cites">
                                <option value=""> 请选择</option>
                            </select>
                            你选择的是:{{ city.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    app.controller('PeopleController', function ($scope){
        $scope.people =[
            {firstName:'WS',lastName:'weiki',age:'18'},
            {firstName:'TK',lastName:'decut',age:'13'},
            {firstName:'KI',lastName:'cousth',age:'28'},
            {firstName:'White',lastName:'Jim',age:'9'}
        ];
    });
    // ng-change
    app.controller('EquationController', function ($scope){
        $scope.equation = {};
        $scope.change = function () {
            $scope.equation.output = parseInt($scope.equation.x) +2;
        };
    });
    //ng-options
    app.controller('SelectController', function ($scope) {
        $scope.cites = [
        {name:'帝都'},
        {name:'魔都'},
        {name:'格栅机'}
        ];
    });
    </script>
</html>