<!doctype html> 
<html ng-app='myApp'>
    <head>
        <title>指令- 的作用域问题2</title>
        <meta name='description' content='augnular 权威指南 测试版本1.2.26'>
        <link rel="stylesheet" href="/docs/components/bootstrap-3.1.1/css/bootstrap.css">

        <!-- js文件应该独立出来 并放在document 后面 -->
        <script src='/angular.js'></script>
        <script>
        var app = angular.module('myApp',[]);
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>ng-switch And ng-if</h1>
            </div>
            <div class='row'>
                <div class="panel panel-default">
                    <div class="panel-heading">ng-switch演示案例</div>
                    <div class="panel-body">
                        <p>声明ng-switch 同时指定 on元素选定表达式
                            <strong>输入Ari</strong>
                        </p>
                        <div>
                            <input type="text" ng-model='person.name'>
                            <div ng-switch on="person.name">
                                <p ng-switch-default>{{person.name}}</p>
                                <h1 ng-switch-when='Ari'> HELLO I am {{person.name}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading"> ng-if演示案例</div>
                    <div class="panel-body">
                        <p>通过参数表达式 ，真正的删除节点或添加节点</p>
                        <div ng-if='2+2 === 5'>
                            我不想显示
                        </div>
                        <div ng-if='2-2 === 0'>
                            我来展现了
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    <script>

    </script>
</html>